* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5px;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
}

td {
    padding: 3px 10px;
}

input {
    min-width: 50vw;
}