<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/js03.css">
</head>
<body>
    <h2>Chương trình giải phương trình bậc 2</h2>
    <h2>ax<sup>2</sup> + bx + c = 0</h2>
    <table>
        <tr>
            <td>a =</td>
            <td><input type="number" name="a" id="a"></td>
        </tr>
        <tr>
            <td>b =</td>
            <td><input type="number" name="b" id="b"></td>
        </tr>
        <tr>
            <td>c =</td>
            <td><input type="number" name="c" id="c"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button onclick="Solve();">Giải</button>
                <button onclick="Reset();">Xoá</button>
            </td>
        </tr>
    </table>

    <h3 id="answer"></h3>

    <script src="../../js/js03.js"></script>
</body>
</html>