<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/js07.css">
</head>
<body>
    <h1>CHƯƠNG TRÌNH XỬ LÝ CHUỖI</h1>
    <table>
        <tr>
            <td><label for="s1">Chuỗi S1:</label></td>
            <td><input id="s1" type="text" value=" Learning JAVASCRIPT is veRy easy "></td>
        </tr>
        <tr>
            <td><label for="s2">Chuỗi S2:</label></td>
            <td><input id="s2" type="text" value="javascript"></td>
        </tr>
        <tr>
            <td><label for="s3">Chuỗi S3:</label></td>
            <td><input id="s3" type="text" value="jQuery"></td>
        </tr>
        <tr>
            <td><label for="pos">Vị trí chèn:</label></td>
            <td><input id="pos" type="number" min="0" value="0"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button onclick="ChuanHoaChuoi();">Chuẩn hoá chuỗi</button>
                <button onclick="DaoChuoi();">Đảo chuỗi</button>
                <button onclick="KhoiPhuc();">Khôi phục</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button onclick="ThayThe();">Thay thế S2 bằng S3</button>
                <button onclick="Chen();">Chèn S2 vào S1</button>
                <button onclick="Xoa();">Xoá S2 trong S1</button>
            </td>
        </tr>
    </table>

    <script src="../../js/js07.js"></script>
</body>
</html>