<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label for="inp">Nhập số phần tử</label>
        <input type="number" id="inp" value="10">
    </div>
    <div>
        <button onclick="Generate();">Tạo mảng</button>
        <button onclick="AscSort();">Sắp xếp mảng tăng</button>
        <button onclick="DescSort();">Sắp xếp mảng giảm</button>
    </div>

    <p id="arr"></p>
    <p id="arrAsc"></p>
    <p id="arrDesc"></p>
    

    <script src="../../js/js09.js"></script>
</body>
</html>