<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="res" style="background-color: #f00; color: #ff0;">WELCOME HTML5!</p>

    <div>
        <label for="title">Nhập nội dung: </label>
        <input type="text" id="title">
    </div>
    
    <div>
        <label for="bgcolor">Màu nền: </label>
        <input type="color" id="bgcolor">
    </div>
    
    <div>
        <label for="fontcolor">Màu chữ: </label>
        <input type="color" id="fontcolor">
    </div>

    <button onclick="Process();">Thực hiện</button>

    <script src="../../js/js10.js"></script>
</body>
</html>