<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Image Resizing</h1>
    <hr>
    
    <div>
        <span>Scale: </span>
        <input name="size" id="size1" type="radio" value="0.1">
        <label for="size1">10%</label>
        
        <input name="size" id="size2" type="radio" value="0.25">
        <label for="size2">25%</label>
        
        <input name="size" id="size3" type="radio" value="0.5">
        <label for="size3">50%</label>
    </div>

    <img src="../../images/pointlobos.jpg" alt="">

    <script src="../../js/js11.js"></script>
</body>
</html>